In [2]:
import pandas as pd
import torch

In [12]:
df = pd.read_csv('/home/leon/Documents/GPML/good_practices_ml/country_list/country_list_region.csv')
df.loc[144]

Country                                                           New Zealand
Alpha2Code                                                                 NZ
Intermediate Region Name                            Australia and New Zealand
One Hot Region              [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
One Hot Country             [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: 144, dtype: object

In [14]:

# 
grouped_indexes = df.groupby('Intermediate Region Name')['Country'].apply(lambda x: list(x.index))
grouped_indexes

Intermediate Region Name
Antarctica                                                                 [8]
Australia and New Zealand                                            [11, 144]
Caribbean                    [3, 4, 12, 16, 26, 28, 44, 46, 51, 52, 66, 74,...
Central America                           [32, 43, 77, 81, 134, 140, 146, 179]
Central Asia                                          [99, 106, 185, 187, 198]
Eastern Africa               [58, 98, 122, 131, 133, 136, 159, 163, 166, 17...
Eastern Asia                             [41, 80, 97, 102, 103, 126, 127, 192]
Eastern Europe                  [20, 31, 48, 84, 119, 152, 160, 162, 173, 194]
Melanesia                                             [60, 137, 149, 165, 204]
Micronesia                                                           [78, 156]
Middle Africa                                              [7, 34, 35, 40, 64]
Northern Africa                                   [53, 56, 116, 117, 167, 188]
Northern America                                             [23, 33, 72, 196]
Northern Europe              [13, 50, 55, 59, 62, 65, 69, 86, 88, 92, 94, 1...
Polynesia                                                  [38, 148, 189, 205]
South America                [9, 25, 27, 39, 42, 54, 61, 68, 76, 79, 147, 1...
South-eastern Asia           [24, 85, 100, 107, 125, 135, 150, 169, 184, 18...
Southern Africa                                            [30, 138, 182, 208]
Southern Asia                          [2, 17, 29, 89, 91, 111, 132, 143, 151]
Southern Europe              [0, 5, 15, 57, 71, 75, 82, 93, 120, 123, 130, ...
Western Africa               [19, 22, 37, 45, 70, 73, 112, 124, 129, 139, 1...
Western Asia                 [1, 6, 14, 21, 47, 67, 87, 90, 96, 104, 108, 1...
Western Europe                        [10, 18, 36, 49, 63, 110, 114, 118, 141]
Name: Country, dtype: object

In [16]:
for x in grouped_indexes:
    print(x)
    print('---')

[8]
---
[11, 144]
---
[3, 4, 12, 16, 26, 28, 44, 46, 51, 52, 66, 74, 83, 95, 101, 105, 109, 121, 128, 153, 180, 191, 201, 202]
---
[32, 43, 77, 81, 134, 140, 146, 179]
---
[99, 106, 185, 187, 198]
---
[58, 98, 122, 131, 133, 136, 159, 163, 166, 177, 178, 193, 195, 209, 210]
---
[41, 80, 97, 102, 103, 126, 127, 192]
---
[20, 31, 48, 84, 119, 152, 160, 162, 173, 194]
---
[60, 137, 149, 165, 204]
---
[78, 156]
---
[7, 34, 35, 40, 64]
---
[53, 56, 116, 117, 167, 188]
---
[23, 33, 72, 196]
---
[13, 50, 55, 59, 62, 65, 69, 86, 88, 92, 94, 113, 115, 142, 168, 172]
---
[38, 148, 189, 205]
---
[9, 25, 27, 39, 42, 54, 61, 68, 76, 79, 147, 157, 197, 200]
---
[24, 85, 100, 107, 125, 135, 150, 169, 184, 186, 203]
---
[30, 138, 182, 208]
---
[2, 17, 29, 89, 91, 111, 132, 143, 151]
---
[0, 5, 15, 57, 71, 75, 82, 93, 120, 123, 130, 155, 161, 171, 175, 199, 206]
---
[19, 22, 37, 45, 70, 73, 112, 124, 129, 139, 170, 174, 176, 183]
---
[1, 6, 14, 21, 47, 67, 87, 90, 96, 104, 108, 145, 154, 158, 164, 181, 190, 207]
---
[10, 18, 36, 49, 63, 110, 114, 118, 141]
---